

.column {
	
  float:left;
  width: 33.3%;

  padding: 8px;
  color:white;
  border-color:white;
  border: solid;

}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
background-color:rgba(0, 0, 0, 0.4);
}


.contain {
  padding: 16px;
  text-align:center;
   width: 100%;
    
  
}
.container::after, .row::after {
	
  content: "";
  clear: both;
  display: table;
}



.new-btn {
  border: 2px ;

  outline: 0;
  padding: 12px;
  color: grey;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.new-btn:hover {
	background-color: black;
  opacity: 0.7;

}



.himg 
        {
            padding: 25px;
            padding-top: 10px;
            width:250px;
            height:200px;
            border-radius: 50%;
            

        }
		
		.row{
			color:white;
			text-align: center;
		}
		
		
		
		h1{
    position:relative;
    left:600px;
    color:black;
}
h4{
  position:relative;
  left: 1350px;
  color: black;
  bottom: 200px;
}
h5{
  position:relative;
  left: 1360px;
  color: black;
  bottom: 150px;
}

.rate
{
	color:black;
}
		